/* @theme uibk */

@import 'default';

/* uibk colors */
:root {
    --uibk_blue:rgb(0,51,97);
    --uibk_orange: rgb(243,146,0);

    --licolor: var(--uibk_orange);
    --lilicolor: var(--uibk_blue);
    --lililicolor: var(--uibk_orange);
    --lilililicolor: var(--uibk_blue);
}

/* main header */
h1 {
    color: var(--uibk_orange);
    border-bottom: 2px solid var(--uibk_blue);
    position: absolute;
    top: 25px;
    left: 20px;
    right: 20px;
    padding-bottom: 5px;
    padding-left: 55px
}

/* headers for split content */
h2 {
    /* position: absolute; */
    top: 0;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: var(--uibk_blue);
}

/* include uibk logo */
section {
    background-image: url('figures/uibk_logo.png');
    background-repeat: no-repeat;
    background-position: bottom 5px left 20px;
    background-size: auto 60px;
}

section > footer {
    position: absolute;
    border-top: 2px dashed var(--uibk_blue);
    height: 62.5px;
    padding-top: 2.5px;
    /* totalhight: 65px; */
    left: 20px;
    right: 20px;
    bottom: 0px;

    font-size: 20px;
    text-align: center;
    /* display: block; */
}

/* page count */
section::after {
    /* include total number of slides */
    /* content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total); */
    content: attr(data-marpit-pagination)
}

ul li {
    margin-left: -35px;
}

ul li::marker {
    content: "\25B8\ ";
    color: var(--licolor);
}

ul ul li::marker {
    color: var(--lilicolor);
}

ul ul ul li::marker {
    content: "\25B9\ ";
    color: var(--lililicolor);
}

ul ul ul ul li::marker {
    color: var(--lilililicolor);
}


.columns {
    position: absolute;
    top: 100px;
    padding: 0;
    margin: 0;
    left: 80px;
    right: 80px;
    bottom: 75px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    /* border: 1px solid black; */
}

.columns3 {
    position: absolute;
    top: 100px;
    padding: 0;
    margin: 0;
    left: 80px;
    right: 80px;
    bottom: 75px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.columns60_40 {
    top: 100px;
    left: 80px;
    right: 80px;
    bottom: 65px;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;
}

.vcenter {
    padding: 0;
    margin: 0;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.hcenter {
    position: relative;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
}